@font-face {
  font-family: "Montserrat";
  src: url("../fonts/msr.ttf"); }
@font-face {
  font-family: "MontserratEL";
  src: url("../fonts/msel.ttf"); }
@font-face {
  font-family: "Bonnbeta";
  src: url("../fonts/bbr.ttf"); }
@font-face {
  font-family: "RobotoC";
  src: url("../fonts/rcbi.ttf"); }
@font-face {
  font-family: "bonn";
  src: url("../fonts/BONN/bonnr.ttf") format("truetype"); }
@font-face {
  font-family: "Azo Sans Regular";
  src: url("../fonts/Azo Sans/Regular.otf"); }
@font-face {
  font-family: "Azo Sans Medium";
  src: url("../fonts/Azo Sans/Medium.otf"); }
@font-face {
  font-family: "Azo Sans Thin";
  src: url("../fonts/Azo Sans/Thin.otf"); }
@font-face {
  font-family: "Azo Sans Bold";
  src: url("../fonts/Azo Sans/Bold.otf"); }