@media all and (max-width: 1200px) {
	#Landing {
		flex-direction: column;
	}
}

.videoContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  max-width: 600px;
  min-width: 300px;
  padding-bottom: 30px;
  /* padding-right: 10px; */
  background-repeat: no-repeat;
  background-size: calc(100% - 20px) 10px;
  background-position: 10px calc(100% - 15px);
}

.videoContainer iframe {
  width: 100%;
  height: 300px;
}

@media all and (max-width: 600px) {
  .videoContainer iframe {
    height: 200px;
  }
}

label {
  width: 50%;
  text-align: center;
  position: absolute;
	top: 70px;
}
h2.videoHeading{
  font-family: "Azo Sans Regular";
  margin: 10px 0;
  color: white;
}

.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  background: url(../photos/information.svg) center no-repeat;
  background-size: 70%;
}
.splVideo {
	 width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
}
#custom-seekbar {
	cursor: pointer;
	width: 100%;
	height:20px;
	margin-bottom: 4px;
	outline: white;
	overflow: hidden;
	position: relative;
}
#custom-seekbar2 {
	cursor: pointer;
	width: 100%;
	height:20px;
	margin-bottom: 4px;
	outline: white;
	overflow: hidden;
	position: relative;
}
#yay {
	background-color: orange;
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 0px;"
}
#yay2 {
	background-color: orange;
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 0px;"
}
#myCanvas {
	display:block;
	width:100%;
}
#myCanvas2 {
	display:block;
	width:100%;
}
#waveform {
	max-width:100%;
	height:auto;
}
#waveform2 {
	max-width:100%;
	height:auto;
}
